@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}



header > div {
  display:flex;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}


.blackHeart {
  width: 20px;
  margin-right: 1rem;
}


.logo {
  width:50px;
}

form {
  background: rgba(232, 217, 217, .3);
  padding: 0 10px;
}

#label img{
  width: 18px;
}

form label, input{
  color: rgba(0, 0, 0, .05);
}

form button{
  background: #fb3e44;
  color: white;
}

#section1 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(232, 217, 217, .3);
  height: 600px;
}

#section1 .plans-btn {
  background: #fb3b49;
  color: white;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
  margin: 30px;
}

#section1 article {
  text-align: center;
  width: 390px;
  padding: 60px;
}

#section2 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hexagon {
  margin: 90px;
  width: 250px;
}

#section2 h2 {
  background: rgba(255, 204, 53, .4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  padding: 0 30px;
  margin: 25px; 
  text-align: center;
}

#section2 article {
  text-align: center;
  width: 800px;
  margin: 30px;
  padding: 60px;
}
/*#section3 {
    display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}*/


#section3 svg{
  width: 30px;
}

#section3 .categories{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 10px;
  padding:15px;
}

#section3 .content{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width:800px;
  padding: 10px;

  
}

#section3 h3{
  color: #ed1c24;
}

#section3 a {
  display:flex;
  background: black;
  box-shadow:8px 8px 0 rgba(128, 83, 35, .2);
  margin: 0 300px;
  text-align: center;
  justify-content: center;
  color: white;
}

